.cart-img {
  width: 10%;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

@media screen and (max-width: 768px) {
  .cart-img {
    width: 40%;
  }
}
